{%- liquid
  render 'asset-tag', asset: 'customer.css'
-%}
<div
  class="customer reset-password space-y-6 px-rail py-section"
  data-section-type="reset-password"
>
  <div class="reset-password__container mx-auto max-w-screen text-center">
    <div class="reset-password__header mb-6 border-b border-primary-section-border pb-4">
      <h1 class="text-center text-3xl md:text-4xl">{{ 'customer.reset_password.title' | t }}</h1>
    </div>

    <div class="reset-password__content mx-auto">
      <p>{{ 'customer.reset_password.subtext' | t }}</p>

      {%- form 'reset_customer_password' -%}
        {%- if form.errors -%}
          <div class="reset-password__message rte mb-4 bg-primary-secondary-background px-4 py-2">
            <div class="mb-1 outline-none" role="alert" tabindex="-1" autofocus>
              <span class="mr-1 inline-block w-3 text-red-600">
                {%- render 'icon-ui-error' -%}
              </span>
              {{ form.errors | default_errors }}
            </div>
          </div>
        {%- endif -%}

        <div class="reset-password__contain mx-auto max-w-[28rem] space-y-4 text-left">
          <div class="reset-password__field">
            <label for="ResetPassword-password">{{ 'customer.activate_account.password' | t }}</label>
            <input
              id="ResetPassword-password"
              type="password"
              autocomplete="new-password"
              name="customer[password]"
              aria-required="true"
            >
          </div>

          <div class="reset-password__field">
            <label for="ResetPassword-passwordconfirmation">
              {{- 'customer.activate_account.password_confirm' | t -}}
            </label>
            <input
              id="ResetPassword-passwordconfirmation"
              type="password"
              autocomplete="new-password"
              name="customer[password_confirmation]"
              aria-required="true"
            >
          </div>

          <div class="flex flex-col items-center justify-center">
            <button class="button button--cta button--solid">
              {{ 'customer.reset_password.submit' | t }}
            </button>
          </div>
        </div>
      {%- endform -%}
    </div>
  </div>
</div>
