<a href="{{ routes.cart_url }}" class="cart-notification__cart">{{ 'general.cart.view' | t: count: cart.item_count }}</a>
<form action="{{ routes.cart_url }}" method="post" id="cart-notification-form">
  <button class="cart-notification__checkout" name="checkout">{{ 'sections.cart.checkout' | t }}</button>
</form>
<button type="button" class="cart-notification__continue">{{ 'general.continue_shopping' | t }}</button>