{%- liquid 
  capture logo_max_width
    if section.settings.logo_max_width > section.settings.logo.width
      echo section.settings.logo.width
    else
      echo section.settings.logo_max_width
    endif
  endcapture
-%}
<style>
  :root {
    --header-text-color: {{ settings.header_text_color }};
    --header-title-color: {{ settings.header_title_color }};
    --header-background-color: {{ settings.header_background_color }};
    --header-accent-color: {{ settings.header_accent_color }};
    --header-text-75-color: {{ settings.header_text_color | color_mix: settings.header_background_color, 75 }};
    --header-text-50-color: {{ settings.header_text_color | color_mix: settings.header_background_color, 50 }};
    --header-text-20-color: {{ settings.header_text_color | color_mix: settings.header_background_color, 20 }};
    --header-text-05-color: {{ settings.header_text_color | color_mix: settings.header_background_color, 5 }};
  }
  {%- if section.settings.scroll_lock -%}
  .section__header {
    position: sticky;
    z-index: 300;
  }
  {%- else -%}
  .section__header {
    position: relative;
    z-index: 300;
  }
  {%- endif -%}
  [data-section-id="{{ section.id }}"] {
    {%- if section.settings.full_width -%}
      --max-width-screen: 100%;
      --spacing-rail: 0;
    {%- endif -%}
  }
  .header-primary__logo,
  [data-header-logo] {
    width: 100%;
    max-width: {{ logo_max_width }}px;
  }
  
</style>

<div class="password-main__header relative bg-header-background z-10 text-center py-12 px-rail">
  <div class="header-primary flex-col justify-center items-center mx-auto" data-header-logo>

    {%- capture header_logo -%}
      <div class="header-primary__link">
        {%- if section.settings.logo != blank -%}
          {%- assign image_size = section.settings.logo_max_width -%}
          <img srcset="{{ section.settings.logo | image_url: width: image_size }} 1x, {{ section.settings.logo | image_url: width: image_size, scale: 2 }} 2x"
            src="{{ section.settings.logo | image_url: width: image_size }}"
            loading="lazy"
            class="header-primary__logo w-full mx-auto"
            width="{{ section.settings.logo.width }}"
            height="{{ section.settings.logo.height }}"
            alt="{{ section.settings.logo.alt | default: shop.name | escape }}">
        {%- else -%}
          {{ shop.name }}
        {%- endif -%}
      </div>
    {%- endcapture -%}

    {%- if request.page_type == 'index' -%}
      <h1 class="header-primary__heading">
        {{- header_logo -}}
      </h1>
    {%- else -%}
      <div class="header-primary__heading">
        {{- header_logo -}}
      </div>
    {%- endif -%}
    {%- if shop.password_message != blank -%}
      <div class="header-primary__message text-sm mt-2">
        {{ shop.password_message }}
      </div>
    {%- endif -%}
    
  </div>

  <password-modal class="password-main__popup">
    <button id="PasswordPopup-{{ section.id }}" class="password__popup-link link absolute top-1 right-1 text-xs uppercase font-navigation tracking-wider text-header-text hover:text-header-accent focus:text-header-accent focus:ring-0 focus:outline-none focus-visible:ring-2 focus-visible:ring-header-accent focus-visible:ring-offset-2"
      type="button"
      aria-haspopup="dialog">{{ 'general.password_page.login_password_button' | t }}</button>
    <div class="modal" id="Modal-{{ section.id }}"
      aria-labelledby="Modal-Title-{{ section.id }}"
      role="dialog"
      aria-modal="true">
      <button id="ModalClose-{{ section.id }}" type="button"
        class="modal__close"
        aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-ui-close' %}</button>
      <div class="modal__container">
        <div class="modal__content">
          {% form 'storefront_password' %}
            <div class="rte">
              <h4 id="Modal-Title-{{ section.id }}" class="modal__title">{{ 'general.password_page.login_form_heading' | t }}</h4>
              
              {%- if form.errors -%}
                <div id="PasswordLoginForm-password-error" role="status">
                  <span class="sr-only">{{ 'accessibility.error' | t }}</span>
                  <span class="form__message"><span class="inline-block w-3 mr-1 text-red-600">
                    {%- render 'icon-ui-error' -%}
                  </span> {{ 'general.password_page.login_form_error' | t }}</span>
                </div>
              {%- endif -%}
            </div>

            <div class="password-form__contain text-left pt-2 pb-4">
              <label for="CustomerForm-password">{{ 'general.password_page.login_form_password_label' | t }}</label>
              <div class="password-form__field flex space-x-2">
                <input id="CustomerForm-password" type="password"
                  autocomplete="current-password"
                  name="password"
                  aria-required="true">
                <button type="submit"
                  class="button button--solid bg-section-accent text-section-accent-text focus:ring-section-accent"
                  >{{ 'general.password_page.login_form_submit' | t }}</button>
              </div>
            </div>
            
            <div class="rte">
              <p>{{ 'general.password_page.admin_link_html' | t }}</p>
            </div>
          {% endform %}

        </div>
      </div>
      <div class="modal__background"
        title="{{ 'accessibility.close' | t }}">
        <span class="sr-only">{{ 'accessibility.close' | t }}</span>
      </div>
    </div>
  </password-modal>
  
</div>

{% schema %}
{
  "name": "t:sections.main_password_header.name",
  "class": "section__header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.main_password_header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 100,
      "max": 1180,
      "step": 20,
      "unit": "px",
      "label": "t:sections.main_password_header.settings.logo_max_width.label",
      "default": 280
    }
  ]
}
{% endschema %}