{%- liquid 
  assign total_blocks = section.blocks.size
  assign target_per_row = section.settings.images_per_row_range
  assign first_row_size = total_blocks | modulo: target_per_row

  assign grid_span =  12 | divided_by: target_per_row
  assign grid_span_first_row =  12 | divided_by: first_row_size
  assign grid_span_mobile = 12
  if section.settings.images_per_row_mobile == '2'
    assign grid_span_mobile = 6
  endif

  if section.settings.image_ratio == 'adapt'
    assign aspect_classes = ''
  elsif section.settings.image_ratio == 'square'
    assign aspect_classes = 'aspect-w-1 aspect-h-1'
  elsif section.settings.image_ratio == 'portrait'
    assign aspect_classes = 'aspect-w-2 aspect-h-3'
  elsif section.settings.image_ratio == 'landscape'
    assign aspect_classes = 'aspect-w-4 aspect-h-3'
  endif

  assign textcolumns_content_class = 'textcolumns__content px-2 pt-2 pb-4 md:pb-7'
  assign textcolumns_heading_class = 'textcolumns__heading text-section text-center break-words text-lg md:text-xl'

  if section.settings.gutter
    assign grid_classes = 'textcolumns__container text-center mx-auto max-w-screen grid grid-cols-12 gap-4 md:gap-7'
  else
    assign grid_classes = 'textcolumns__container text-center mx-auto max-w-screen grid grid-cols-12 gap-0'
  endif

  assign grid_item_first_row_classes = 'textcolumns__item textcolumns__item--first-row relative md:col-span-' | append: grid_span_first_row
  assign grid_item_first_row_classes = grid_item_first_row_classes | append: ' col-span-' | append: grid_span_mobile
  assign grid_item_classes = 'textcolumns__item relative md:col-span-' | append: grid_span
  assign grid_item_classes = grid_item_classes | append: ' col-span-' | append: grid_span_mobile
  assign textcolumns_image_class = 'textcolumns__image z-10 w-full mx-auto bg-cover object-cover bg-no-repeat bg-center'
-%}

<style>
  [data-section-id="{{ section.id }}"] {
    {%- if section.settings.full_width -%}
      --max-width-screen: 100%;
      --spacing-rail: 0;
    {%- endif -%}
    {%- if section.settings.section_padding == false -%}
      --spacing-section: 0;
      border-bottom: 0px;
    {%- endif -%}
    --section-text-color: {{ section.settings.color_overlay_text }};
    --section-primary-border-color: {{ section.settings.color_overlay_text }};
  }
  
</style>

<div class="textcolumns space-y-5 px-rail py-section border-b border-primary-section-border"
  data-section-id="{{ section.id }}"
  data-loading="lazy-interaction"
  data-section-type="text-columns-with-images">

  {%- if section.settings.title != blank -%}
    <h3 id="{{ section.settings.title | handle }}" class="textcolumns__title text-center mx-auto max-w-screen text-2xl md:text-3xl">{{ section.settings.title | escape }}</h3>
  {%- endif -%}

  <div class="{{ grid_classes }}">
    {%- for block in section.blocks -%}
      {%- liquid 
        if forloop.index <= first_row_size
          assign textcolumns_item_class = grid_item_first_row_classes
          assign columns = 12 | divided_by: grid_span_first_row

          capture image_sizes
            if section.settings.full_width == false
              echo '(min-width: 1280px) calc(1280px / '
              echo columns
              echo '), '
            endif

            echo '(min-width: 768px) calc(100vw / '
            echo columns
            echo '), '

            if section.settings.images_per_row_mobile == '2'
              echo 'calc(100vw / 2)'
            else
              echo 'calc(100vw)'
            endif
          endcapture

        else
          assign textcolumns_item_class = grid_item_classes
          assign columns = 12 | divided_by: grid_span

          capture image_sizes
            if section.settings.full_width == false
              echo '(min-width: 1280px) calc(1280px / '
              echo columns
              echo '), '
            endif

            echo '(min-width: 768px) calc(100vw / '
            echo columns
            echo '), '

            if section.settings.images_per_row_mobile == '2'
              echo 'calc(100vw / 2)'
            else
              echo 'calc(100vw)'
            endif
          endcapture
        endif

        capture textcolumns_title
          if block.settings.link != blank
            echo '<a href="'
            echo block.settings.link
            echo '" class="hover:text-primary-accent">'
          endif
          echo block.settings.title
          if block.settings.link != blank
            echo '</a>'
          endif
        endcapture

        capture image_widths
          if block.settings.image_max_width != 1180
            echo block.settings.image_max_width | divided_by: 2 | append: ', '
            echo block.settings.image_max_width | append: ', '
            echo block.settings.image_max_width | times: 2
          else
            echo '160, 220, 300, 420, 640, 960, 1280, 1920'
          endif
        endcapture
      -%}
      <div id="TextColumn-{{ block.id }}" class="{{ textcolumns_item_class }} group" {{ block.shopify_attributes }}>
        <div class="textcolumns__image-contain overflow-hidden relative mx-auto {{ aspect_classes }}" {% if block.settings.image_max_width != 1180 %}style="max-width:{{ block.settings.image_max_width }}px;"{% endif %}>
          {%- if block.settings.image != blank -%}
            {{ block.settings.image | image_url: width: 1920 | image_tag: 
              class: textcolumns_image_class,
              widths: image_widths,
              sizes: image_sizes,
              loading: 'lazy' }}
          {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
          {%- if block.settings.link != blank -%}
            <a href="{{ block.settings.link }}" class="textcolumns__link absolute inset-0 z-30 rounded focus:outline-none focus-visible:ring-2 focus-visible:ring-primary-accent">
              {%- if block.settings.title != blank -%}
                <span class="sr-only">{{ block.settings.title }}</span>
              {%- endif -%}
            </a>
          {%- endif -%}
        </div>
        
        <div class="{{ textcolumns_content_class }}">
          {%- if block.settings.title != blank -%}
            <h4 class="{{ textcolumns_heading_class }}">{{ textcolumns_title }}</h4>
          {%- endif -%}
          {%- if block.settings.richtext != blank -%}
            <div class="mx-auto rte rte-sm">{{ block.settings.richtext }}</div>
          {%- endif -%}
          {%- if block.settings.button_label != blank -%}
            <a href="{{ block.settings.link | default: '#' }}" class="mt-2 button button--small button--outline">{{ block.settings.button_label }}</a>
          {%- endif -%}
        </div>        
        
      </div>
    {%- endfor -%}
  </div>

</div>

{% schema %}
{
  "name": "t:sections.text_columns_with_images.name",
  "class": "text-columns-with-images-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.text_columns_with_images.settings.title.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.general.full_width",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "gutter",
      "label": "t:sections.general.image_padding",
      "default": true
    },
    {
      "type": "range",
      "id": "images_per_row_range",
      "label": "t:sections.general.images_per_row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "radio",
      "id": "images_per_row_mobile",
      "label": "t:sections.general.images_per_row_mobile",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "1"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "t:sections.general.image_ratio.label",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.general.image_ratio.option_auto.label"
        },
        {
          "value": "square",
          "label": "t:sections.general.image_ratio.option_square.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.general.image_ratio.option_portrait.label"
        },
        {
          "value": "landscape",
          "label": "t:sections.general.image_ratio.option_landscape.label"
        }
      ],
      "default": "adapt"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.text_columns_with_images.blocks.column.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.text_columns_with_images.blocks.column.settings.image.label"
        },
        {
          "type": "range",
          "id": "image_max_width",
          "min": 80,
          "max": 1180,
          "step": 20,
          "unit": "px",
          "label": "t:sections.text_columns_with_images.blocks.column.settings.logo_max_width.label",
          "default": 1180
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.text_columns_with_images.blocks.column.settings.title.label",
          "default": "Example title"
        },
        {
          "type": "richtext",
          "id": "richtext",
          "label": "t:sections.text_columns_with_images.blocks.column.settings.richtext.label",
          "default": "<p>Use this text to highlight product features, link to pages or showcase your brand.</p>"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.text_columns_with_images.blocks.column.settings.link.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.text_columns_with_images.blocks.column.settings.button_label.label",
          "default": "Optional button"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.text_columns_with_images.presets.name",
      "settings": {
        "full_width": false,
        "images_per_row_range": 3,
        "gutter": true
      },
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "header"
    ]
  }
}
{% endschema %}
